root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8-bom

[*.cs]
indent_size = 2
file_header_template = unset
csharp_style_namespace_declarations = file_scoped:error
dotnet_diagnostic.CS8321.severity = error
dotnet_style_require_accessibility_modifiers = always:error
dotnet_remove_unnecessary_suppression_exclusions = none
dotnet_diagnostic.IDE0005.severity = error

max_line_length = 300
resharper_max_line_length = 300
resharper_wrap_lines = true
resharper_keep_existing_arrangement = false
resharper_keep_existing_linebreaks = false
resharper_csharp_keep_existing_declaration_parens_arrangement = false
resharper_csharp_keep_existing_invocation_parens_arrangement = false
resharper_csharp_keep_existing_expr_member_arrangement = false
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_chained_method_calls = chop_if_long
resharper_csharp_wrap_before_declaration_lpar = false
resharper_csharp_wrap_before_invocation_lpar = false
resharper_csharp_wrap_after_declaration_lpar = false
resharper_csharp_wrap_after_invocation_lpar = false
resharper_csharp_align_multiline_parameter = true
resharper_csharp_align_multiline_argument = true
resharper_csharp_align_multiline_calls_chain = true
resharper_csharp_align_multiline_expression = true
resharper_csharp_align_multiline_binary_expressions_chain = true
resharper_csharp_place_simple_initializer_on_single_line = true
resharper_csharp_wrap_object_and_collection_initializer_style = chop_if_long
resharper_csharp_blank_lines_after_control_transfer_statements = 0
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_remove_blank_lines_near_braces_in_code = true
resharper_csharp_remove_blank_lines_near_braces_in_declarations = true
resharper_csharp_continuous_indent_multiplier = 1
resharper_csharp_int_align = false
resharper_csharp_max_initializer_elements_on_line = 1
resharper_csharp_max_array_initializer_elements_on_line = 1
resharper_csharp_braces_for_ifelse = required_for_multiline
resharper_csharp_braces_redundant = true
dotnet_style_prefer_collection_expression = false:none
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0301.severity = none
dotnet_diagnostic.IDE0302.severity = none
dotnet_diagnostic.IDE0303.severity = none
dotnet_diagnostic.IDE0304.severity = none
dotnet_diagnostic.IDE0305.severity = none
resharper_use_collection_expression_highlighting = none
csharp_style_conditional_expression_over_assignment = false:none
csharp_style_conditional_expression_over_return = false:none
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none

[*.{js,ts,vue,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[backend/GastronomyApp.Infrastructure/Migrations/*.cs]
generated_code = true
csharp_style_namespace_declarations = file_scoped:none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0161.severity = none
